<!DOCTYPE html>
<html lang="en" class="cguq1">

<head>
    <meta charset="utf-8">
    <title>I-scrap</title>
    <link rel="icon" href="image/icon.svg"  type="image/svg+xml"/>
    <link rel="apple-touch-icon" href="image/icon.svg"  type="image/svg+xml"/>
    <link rel="shortcut icon" href="image/icon.svg">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="css/aos.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body class="cbyl4 ctwbb c8l5g csjju co5fe">

    <!-- Page wrapper -->
    <div class="overflow-hidden cuwej crocn cl8ef c4a2s">

        <!-- Site header -->
        <header class="cwa0a c07cc cr6bd cvyg4 cein3">
            <div class="cxbfd cx5hs cqcwp cn7jq">
                <div
                    class="csoaf cdouf cnpw6 carbw cynyd cv5x1 cy259 ccd0d c2xfw c5j5d cnbst cpous cdrow czdar ciff0 cwoyc c0vjw cnzyi c4a2s cpzr5 cblyd">

                    <!-- Site branding -->
                    <div class="cdrow cfxr2 c4a2s">
                        <!-- Logo -->
                        <a class="cdrak" href="javascript:void(0)" aria-label="Cruip">
                            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28">
                                <path class="c4ow8" fill-rule="evenodd"
                                    d="M15.052 0c6.914.513 12.434 6.033 12.947 12.947h-5.015a7.932 7.932 0 0 1-7.932-7.932V0Zm-2.105 22.985V28C6.033 27.487.513 21.967 0 15.053h5.015a7.932 7.932 0 0 1 7.932 7.932Z"
                                    clip-rule="evenodd"></path>
                                <path class="cfix0" fill-rule="evenodd"
                                    d="M0 12.947C.513 6.033 6.033.513 12.947 0v5.015a7.932 7.932 0 0 1-7.932 7.932H0Zm22.984 2.106h5.015C27.486 21.967 21.966 27.487 15.052 28v-5.015a7.932 7.932 0 0 1 7.932-7.932Z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>

                    <!-- Desktop navigation -->
                    <nav class="cbj0o cppca c9gtw">

                        <!-- Desktop menu links -->
                        <ul class="cxbhj cdrow c81cr ccywq cnrm4 cnss4 c4a2s c7fsb">
                            <li class="cblyd c88zw">
                                <a class="cgq07 ce0zw cdrow cwcpl c4a2s" href="javascript:void(0)">Pricing</a>
                            </li>
                            <li class="cblyd c88zw">
                                <a class="cgq07 ce0zw cdrow cwcpl c4a2s" href="javascript:void(0)">Customers</a>
                            </li>
                            <li class="cblyd c88zw">
                                <a class="cgq07 ce0zw cdrow cwcpl c4a2s" href="javascript:void(0)">Blog</a>
                            </li>
                            <li class="cblyd c88zw">
                                <a class="cgq07 ce0zw cdrow cwcpl c4a2s" href="javascript:void(0)">Docs</a>
                            </li>
                            <!-- 1st level: hover -->
                            <li class="cdrow c0vjw c3o7t c4a2s cblyd c88zw" x-data="{ open: false }"
                                @mouseenter="open = true" @mouseleave="open = false">
                                <span class="cgq07 cgfbk ce0zw cdrow cwcpl c4a2s" aria-haspopup="true"
                                    :aria-expanded="open">Extra</span>
                                <button class="cfufg c2aj1" :aria-expanded="open" @click.prevent="open = !open">
                                    <span class="c55m0">Show submenu for "Extra"</span>
                                    <svg class="clcg2" xmlns="http://www.w3.org/2000/svg" width="10" height="6">
                                        <path d="m1.06.19 3.5 3.5 3.5-3.5 1.061 1.06-4.56 4.56L0 1.25 1.06.19Z"></path>
                                    </svg>
                                </button>
                                <!-- 2nd level: hover -->
                                <ul class="cy259 cm9sj c4vql chcxa cwoyc cxj2n cqzdr cgwj6 cynql c3ytk caqcf ckuz5"
                                    x-show="open" x-transition:enter="cwcpl chyvu c3mi3"
                                    x-transition:enter-start="cio1t color" x-transition:enter-end="c8bnb ch07w"
                                    x-transition:leave="cwcpl chyvu" x-transition:leave-start="c8bnb"
                                    x-transition:leave-end="cio1t" x-cloak=""
                                    @focusout="await $nextTick();!$el.contains($focus.focused()) &amp;&amp; (open = false)">
                                    <li>
                                        <a class="chpyv ce0zw cl954 cwmyr cnrm4 c4a2s cb51q"
                                            href="javascript:void(0)">Support center</a>
                                    </li>
                                    <li>
                                        <a class="chpyv ce0zw cl954 cwmyr cnrm4 c4a2s cb51q"
                                            href="javascript:void(0)">Apps</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                    </nav>

                    <!-- Desktop sign in links -->
                    <ul class="cdrow celda cfxr2 cnzyi c4a2s">
                        <li>
                            <a class="c2np1 c3ns1 cgwj6 c2htu cwq93" href="javascript:void(0)l">Login</a>
                        </li>
                        <li>
                            <a class="cc3qo ctwfu cbzch c2htu cwq93" href="javascript:void(0)">Register</a>
                        </li>
                    </ul>

                    <!-- Mobile menu -->
                    <div class="cyv1b c4a2s" x-data="{ expanded: false }">

                        <!-- Hamburger button -->
                        <button class="cxbhj c3ns1 cdrow cdrak cczaz cwcpl cgwj6 codvp cbkjh cj90k"
                            aria-controls="mobile-nav" :aria-expanded="expanded" @click.stop="expanded = !expanded">
                            <span class="c55m0">Menu</span>
                            <svg class="cc8v2 cturl ct7tn cdkxo" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <rect class="cdgbu c2848 cd5ia ctqdg cqqni cawtk c54ql c7fcq coclo" y="7" width="9"
                                    height="2" rx="1"></rect>
                                <rect class="cl4gy cllhq c54ql c7fcq coclo" y="7" width="16" height="2" rx="1"></rect>
                                <rect class="cdgbu cggs3 ctqdg c1w3t c54ql c7fcq coclo" y="7" width="9" height="2"
                                    rx="1"></rect>
                            </svg>
                        </button>

                        <!-- Mobile navigation -->
                        <nav id="mobile-nav"
                            class="csoaf cdouf cnpw6 carbw cynyd cv5x1 cy259 c2xfw cnbst cpous chcxa cwoyc cxj2n cqzdr cgwj6 cynql c07cc c3w9h"
                            @click.outside="expanded = false" @keydown.escape.window="expanded = false"
                            x-show="expanded" x-transition:enter="cwcpl chyvu ccybt c3mi3"
                            x-transition:enter-start="cio1t color" x-transition:enter-end="c8bnb ch07w"
                            x-transition:leave="cwcpl chyvu ccybt" x-transition:leave-start="c8bnb"
                            x-transition:leave-end="cio1t" x-cloak="">
                            <ul class="cnrm4 ckuz5">
                                <li>
                                    <a class="chpyv ce0zw cl954 cwmyr c4a2s cb51q" href="javascript:void(0)">Pricing</a>
                                </li>
                                <li>
                                    <a class="chpyv ce0zw cl954 cwmyr c4a2s cb51q"
                                        href="javascript:void(0)">Customers</a>
                                </li>
                                <li>
                                    <a class="chpyv ce0zw cl954 cwmyr c4a2s cb51q" href="javascript:void(0)">Blog</a>
                                </li>
                                <li>
                                    <a class="chpyv ce0zw cl954 cwmyr c4a2s cb51q" href="javascript:void(0)">Docs</a>
                                </li>
                                <li>
                                    <a class="chpyv ce0zw cl954 cwmyr c4a2s cb51q" href="javascript:void(0)">Support
                                        center</a>
                                </li>
                                <li>
                                    <a class="chpyv ce0zw cl954 cwmyr c4a2s cb51q" href="javascript:void(0)">Apps</a>
                                </li>
                            </ul>
                        </nav>

                    </div>

                </div>
            </div>
        </header>

        <!-- Page content -->
        <main class="c7fsb">

            <!-- Hero -->
            <section class="c0vjw">

                <!-- Stripes illustration -->
                <div class="cc8v2 c38j2 c82xa c3mi3 cxj2n cvd4p ci34p" aria-hidden="true">
                    <img class="c13of" src="fonts/stripes.svg" width="768" height="432" alt="Stripes">
                </div>

                <!-- Circles -->
                <div class="cc8v2 c38j2 cscpp c82xa cxj2n cxj7m" aria-hidden="true">
                    <div class="cjxwv cwgyo cjgwc cmxwm csv9q ca7zz c5uon czfz1"></div>
                </div>
                <div class="cc8v2 c38j2 cfkl5 cvizd c82xa cxj2n" aria-hidden="true">
                    <div class="cjxwv cwgyo cjgwc cmxwm csv9q cx349 ca7zz c5uon czfz1"></div>
                </div>
                <div class="cc8v2 c38j2 cinxm c2l8u c82xa cxj2n" aria-hidden="true">
                    <div class="cjxwv cwgyo cjgwc cmxwm csv9q cx349 ca7zz c5uon czfz1"></div>
                </div>

                <div class="cxbfd cx5hs cqcwp cn7jq">

                    <!-- Hero content -->
                    <div class="ccd2c c71n8 cb4uz cbgts">

                        <!-- Section header -->
                        <div class="cczaz ce84p cb4uz">
                            <div class="cqzis chf5m cruyu" data-aos="zoom-y-out">
                                <div class="cxbhj czxkc c4quo c4a2s">
                                    <img class="cf4eh csv9q caf8r c9xsv" src="images/avatar-01.jpg" width="32"
                                        height="32" alt="Avatar 01">
                                    <img class="cf4eh csv9q caf8r c9xsv" src="images/avatar-02.jpg" width="32"
                                        height="32" alt="Avatar 02">
                                    <img class="cf4eh csv9q caf8r c9xsv" src="images/avatar-03.jpg" width="32"
                                        height="32" alt="Avatar 03">
                                    <img class="cf4eh csv9q caf8r c9xsv" src="images/avatar-04.jpg" width="32"
                                        height="32" alt="Avatar 04">
                                    <img class="cf4eh csv9q caf8r c9xsv" src="images/avatar-05.jpg" width="32"
                                        height="32" alt="Avatar 05">
                                    <img class="cf4eh csv9q caf8r c9xsv" src="images/avatar-06.jpg" width="32"
                                        height="32" alt="Avatar 06">
                                </div>
                            </div>
                            <h1 class="cqzis c9f55 cep6s chf5m c9s5u cruyu" data-aos="zoom-y-out" data-aos-delay="150">
                                The website copier you're <br class="cby2r">looking for</h1>
                            <div class="c441s cqcwp">
                                <p class="ce0zw cprne c60f3" data-aos="zoom-y-out" data-aos-delay="300">Simple is a
                                    modern website copier powered by AI that changes how companies create user
                                    interfaces together.</p>
                                <form action="/download" method="post">
                                    <div class="csw7z c2xfw cgkcp cnbst c0vjw">
                                        <div class="c0ix1 citj5 c0vjw c6dyc cdj6q cqcwp jkl" data-aos="zoom-y-out"
                                            data-aos-delay="450">
                                            <input id="url" class="c8okn c07cc c37mk c2np1 c3ns1" name="url" type="url"
                                                placeholder="Enter website url" required="">
                                            <button id="submit" type="submit"
                                                class="c2np1 c3ns1 c8slg cgwj6 c2mml c07cc cwq93 cayql" href="#0">
                                                Download
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </main>
    </div>

    <!-- <script src="js/focus.min.js" defer=""></script> -->
    <script src="js/alpinejs.min.js" defer=""></script>
    <script src="js/aos.js"></script>
    <script src="js/main.js"></script>

    <script>
        document.querySelector('#submit').addEventListener('click', function (e) {
            setTimeout(() => {
                form = document.querySelector('form');
                form.reset();
            }, 2000);

        });
    </script>

</body>

</html>
